.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
  width: 100%;
  background-color: #E5E5E5;
}
.contactWrapper {
  background-color: #363636;
  padding: 30px;
  border-radius: 40px;
  
}
@media screen and (max-width: 648px) {
  .contactWrapper {
    margin: 20px;
    padding: 20px;
    display: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
  .contact {
    margin: 0;
    padding: 0;
  }
  
  .contactForm {
    height: 300px;
    width: 100%;
  }
  .contactHeading {
    font-size: 20px;
    padding: 0;
    margin: 0;
  }
  
}

.contactHeading {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 55px;
  font-family: "Cormorant SC", sans-serif;
  color: #CCA43B;
}

.contactForm {
  width: 100%;
  height: 500px;
}
.contactLabelItems {
  display: flex;
  font-weight: 500;
  align-items: center;
  font-size: 30px;
  color: #CCA43B;
  font-family: "Cormorant SC", sans-serif;
  
}
.contactFormItems {
  display: flex;
  align-items: center;
  width: 95%;
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
  
  
}

.contactFormItems:focus, .contactFormMsg:focus {
  background-color: #E5E5E5;
}

.contactFormMsg {
  width: 95%;
  align-items: center;
  justify-content: center;
 height: 400px;
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif
}
.sendButton {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonItems {
  padding: 0;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 26px;
  color: #CCA43B;
  cursor: pointer;
  font-family: "Cormorant SC", sans-serif;
}

.buttonItems:hover {
  color: #FFFFFF;
}

.messageSent {
  font-size: 50px;
  padding: 50px;
  font-family: "Cormorant SC", sans-serif;
  color: #242F40;
}
