.home {
  display: flex;
  background-color: #e5e5e5;
}

@media screen and (max-width: 992px) {
  .home {
    flex-direction: column;
  }
}

.searchBoxWrapper {
  
}

.searchBox {
  display: table;
  background: none;
  border: none;
  outline: none;
  font-size: 24px;
  color: #242f40;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #ffffff;
  font-family: "Cormorant SC", sans-serif;
}

.searchBox:focus {
  background-color: #cca43b;
}

.footer {
  font-family: "Cormorant SC", sans-serif;
  font-size: 18px;
  border-bottom: 1px solid #242f40;
  background-color: #e5e5e5;
  color: #242f40;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
  margin: 0;
}

@media screen and (max-width: 992px) {
  .searchBox {
    width: 90%;
  }
}