.home {
  display: flex;
  background-color: #e5e5e5;
}

@media screen and (max-width: 992px) {
  .home {
    flex-direction: column;
  }
  
}

/* .homeIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: auto;
} */

.searchBox {
  display: table;
  background: none;
  border: none;
  outline: none;
  font-size: 24px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #FFFFFF;
  font-family: "Cormorant SC", sans-serif;
  
}

.footer {
  font-family: "Cormorant SC", sans-serif;
  font-size: 18px;
  border-bottom: 1px solid #242F40;
  background-color: #e5e5e5;
  color: #242f40;
  display: flex;
  align-items: center;
  justify-content: center;
}
