portfolioNavigationBar
/*Background*/
@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-moz-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -100;
}

.stars {
  background: black
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
}

.twinkling {
  width: 10000px;
  height: 100%;
  background: transparent
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png")
    repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;

  -moz-animation: move-background 70s linear infinite;
  -ms-animation: move-background 70s linear infinite;
  -o-animation: move-background 70s linear infinite;
  -webkit-animation: move-background 70s linear infinite;
  animation: move-background 70s linear infinite;
}

.clouds {
  width: 10000px;
  height: 100%;
  background: transparent
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png")
    repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;

  -moz-animation: move-background 150s linear infinite;
  -ms-animation: move-background 150s linear infinite;
  -o-animation: move-background 150s linear infinite;
  -webkit-animation: move-background 150s linear infinite;
  animation: move-background 150s linear infinite;
}

.backgroundImg {
  height: 70vh;
  width: 70vh;
  position: absolute;
  z-index: 3;
  right: 20px;
}

.portfolioHome {
  height: 100%;
}

.portfolioHeader {
  z-index: 100;
  width: 100%;
  height: 80vh;
  color: rgb(235, 186, 54);
  font-size: 20px;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.titlesDiv {
  display: flex;
  padding: 180px 50px 0px 50px;
}

.titleName {
  display: flex;
  font-size: 150px;
  font-weight: 600;
  font-family: "Cormorant SC", serif;
}

/*Portfolio Sidebar*/

.portfolioSidebar {
  margin: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  height: 100%;
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .titleName {
    display: flex;
    font-size: 100px;
  }
  .titlesDiv {
    display: flex;
    padding: 180px 0px 0px 10px;
  }
  
}

@media (min-width: 748px) and (max-width: 1536px) {
  .titleName {
    display: flex;
    font-size: 130px;
  }
  .titlesDiv {
    display: flex;
    padding: 180px 0px 0px 20px;
  }
  
}

.portfolioSidebarItem2 {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 300px;
  right: 20px;
}

.portfolioSidebarSocial {
  margin-top: 15px;
  display: flex;
  margin-top: 80px;
}

.portfolioAlignIcons {
  padding: 10px 0;
  margin-left: 20px;
}

.portfolioAlignIcons :hover {
  color: white;
}

.portfolioSidebarIconsOnly {
  color: rgb(235, 186, 54);
  font-size: 30px;
  margin-right: 20px;
  cursor: pointer;
}

.portfolioHeaderButtonDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}


/* CSS */
.button-81 {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 40px;
}

.button-81:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

/*About*/
.aboutContainer {
width: 100%;
height: 100%;
}