.portfolioSkillSetsWrapper {
    padding-top: 2.5rem/* 40px */;
    padding-bottom: 2.5rem/* 40px */;
}
.portfolioSkillSetsFirstDiv {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 24rem/* 384px */;
    padding-bottom: 24rem/* 384px */;
    margin-top: 5rem/* 80px */;
    margin-bottom: 5rem/* 80px */;
}


.portfolioSkillSetsIconsDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 5rem/* 80px */;
    margin-right: 5rem/* 80px */;
    margin-top: 2.5rem/* 40px */;
    margin-bottom: 2.5rem/* 40px */;
    gap: 0.5rem/* 8px */;
}

.portfolioSkillSetsSingleIconDiv {
    display: inline-block;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.portfolioSkillSetsSingleIcon {
    color: #E5E5E5;
    width: 64px;
    height: 64px;
    margin: 12px;
    padding: 4px;
}

.portfolioSkillSetsSingleText {
    padding: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.portfolioSkillSetsSingleIcon:hover {
    color: #363636;
}

@media (min-width: 768px) {
    .portfolioSkillSetsIconsDiv {
        gap: 2.5rem/* 40px */;
    }
    .portfolioSkillSetsSingleIcon {
        width: 5rem/* 80px */;
        height: 5rem/* 80px */;
    }
}

