/* portfolio home background */

.portfoliobackground {
  background-color: #ada7c9;
  height: 100%;
}

.portfolioHome {
  background-color: #ada7c9;
  height: 100%;
}

/*portfolioNavBar*/

.portfolioNavigation {
  color: rgb(16, 14, 14);
  position: sticky;
  top: 500px;
  display: flex;
  width: 100px;
  z-index: 999;
}

.portfolioTopNavList {
  height: auto;
  margin: 0;
  padding: 0;
}

.portfolioTopNavListItem {
  margin-left: 20px;
  margin-right: 30px;
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
  background-color: #ada7c9;
  border-radius: 50px;
}
@media screen and (max-width: 992px) {
  .portfolioTopNavListItem {
    margin-right: 20px;
    margin-left: 10px;
  }
}

.portfolioTopNavListItem :hover {
  color: #e5e5e5;
}

/*tooltip*/
/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out,
    -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out,
    -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out,
    transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: auto;
  padding: 10px;
  border-radius: 50px;
  background-color: #363636;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
}
/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #363636;
  border-top-color: hsla(0, 0%, 20%, 0.9);
}

/* highlighttext*/
.highlight-container,
.highlight {
  position: relative;
}

.highlight-container {
  display: inline-block;
}
.highlight-container:before {
  content: " ";
  display: block;
  height: 90%;
  width: 100%;
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
  background: #cca43b;
  transform: rotate(2deg);
  top: -1px;
  left: -1px;
  border-radius: 20% 25% 20% 24%;
  padding: 10px 3px 3px 10px;
}

/*Portfolio Sidebar*/
.portfolioSidebarTextDiv {
  align-items: center;
  display: flex;
  justify-content: center;
 
}

.portfolioSidebarText {
  color: #363636;
  font-size: 3rem /* 48px */;
  line-height: 1;
  padding: 4rem /* 64px */;
}

.portfolioSidebar {
  margin: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 30px 150px 30px;
  height: 100%;
  background-color: transparent;
}

.portfolioSidebarItem2 {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 300px;
  right: 20px;
}

.portfolioSidebarSocial {
  display: flex;
}

.portfolioAlignIcons {
  padding: 10px 0;
  margin-left: 20px;
}

.portfolioAlignIcons :hover {
  color: white;
}

.portfolioSidebarIconsOnly {
  color: #363636;
  font-size: 30px;
  margin-right: 20px;
  cursor: pointer;
}

.portfolioHeaderButtonDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin-top: 50px;
}

.portfolioSidebarButtonDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding-bottom: 90px;
}

/* button */
.button-81 {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 40px;
}

.button-81:hover {
  background-color: #363636;
  color: #fff;
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}
