/* portfolio home background */

.portfolioHome {
  background-color: #ADA7C9;
}



/*portfolioNavBar*/

.portfolioNavigation {
  
  color: rgb(16, 14, 14);
  position: sticky;
  top: 500px;
  display: flex;
  z-index: 999;
  
}



.portfolioTopNavList {
  height: auto;
  margin: 0;
  padding: 0;
 
}

.portfolioTopNavListItem {
  margin-left: 20px;
  margin-right: 50px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
  background-color: #ADA7C9;
  border-radius: 50px;
}
@media screen and (max-width: 992px) {
  .portfolioTopNavListItem {
    margin-right: 20px;
  }
}

.portfolioTopNavListItem :hover{
  color: rgb(131, 180, 233);
}


.portfolioHome {
  height: 100%;
}
/*tooltip*/
/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: 
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -moz-transition:    
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition:         
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: auto;
  padding: 10px;
  border-radius: 50px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
}
/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: hsla(0, 0%, 20%, 0.9);
}



/* header */
.portfolioHeader {
  z-index: 100;
  width: 100%;
  height: 80vh;
  color: #242F40;
  font-size: 20px;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.titlesDiv {
  display: flex;
  padding: 100px 50px 0px 50px;
  width: 1800px;
  justify-content: center;
  align-items: center;
}

.titleName {
  display: flex;
  font-size: 50px;
  font-weight: 600;
  font-family: "Cormorant SC", serif;
}

.subtitleName {
  font-size: 26px;
  text-align: center;
  padding: 150px;
}

/* highlighttext*/
.highlight-container, .highlight {
  position: relative;
}

.highlight-container {
  display: inline-block;
}
.highlight-container:before {
  content: " ";
  display: block;
  height: 90%;
  width: 100%;
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
  background: #ffd500;
  transform: rotate(2deg);
  top: -1px;
  left: -1px;
  border-radius: 20% 25% 20% 24%;
  padding: 10px 3px 3px 10px;
}

/*Portfolio Sidebar*/

.portfolioSidebar {
  margin: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  height: 100%;
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .titleName {
    display: flex;
    font-size: 100px;
  }
  .titlesDiv {
    display: flex;
    padding: 180px 0px 0px 10px;
  }
  
}

@media (min-width: 748px) and (max-width: 1536px) {
  .titleName {
    display: flex;
    font-size: 130px;
  }
  .titlesDiv {
    display: flex;
    padding: 180px 0px 0px 20px;
  }
  
}

.portfolioSidebarItem2 {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 300px;
  right: 20px;
}

.portfolioSidebarSocial {
  margin-top: 15px;
  display: flex;
  margin-top: 80px;
}

.portfolioAlignIcons {
  padding: 10px 0;
  margin-left: 20px;
}

.portfolioAlignIcons :hover {
  color: white;
}

.portfolioSidebarIconsOnly {
  color: #363636;
  font-size: 30px;
  margin-right: 20px;
  cursor: pointer;
}

.portfolioHeaderButtonDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin-top: 50px;
}


/* button */
.button-81 {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 40px;
}

.button-81:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

/*About*/
.aboutContainer {
width: 100%;
height: 100%;
}