.posts {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: stretch;
  justify-content: center;
  margin: 20px;
}

@media screen and (max-width: 992px) {
  .posts {
    margin: 20px 0px;
    align-items: center;
    overflow: hidden;
  }
}

.postsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  border: 1px dotted #FFFFFF;
  border-radius: 25px;
  background-color: #FFFFFF;
  margin: 20px;
  padding: 0px 25px;
}

.postsContainer :hover {
  color: #CCA43B;
  background-color: #242F40;
  cursor: pointer;
}

