.sidebarIcon {
    margin: 20px;
    background-color: #E5E5E5;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 30px;
    height: 100%;
    position: absolute;
  }
  
  @media screen and (max-width: 992px) {
    .alignIconsOnly {
        display: inline-block;
    }
    .sidebarIconOnly {
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }
  
  .sidebarIconItem2 {
    display: inline-block;
    position: sticky;
    top: 600px;
    padding-right: 10px;
  }
  
  
  .sidebarIconSocial {
    margin-top: 15px;
  }
  

  .alignIconsOnly {
    padding: 10px 0;
    margin-left: 20px;
    position: sticky;
  }
  
  .alignIconsOnly :hover {
    color: #cca43c;
  }
  
  .sidebarIconOnly {
    color: #363636;
    background-color: #E5E5E5;
    font-size: 30px;
    padding-right: 40px;
    cursor: pointer;
  }
  
