.sidebar {
  margin: 20px;
  background-color: #cdecf1;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  padding: 30px;
  height: 100%;
  position: sticky;
  top: 80px;
}

@media screen and (max-width: 992px) {
  .sidebar {
   position: relative;
  }
}

.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebarItem2 {
  display: inline-block;
}


.sidebarTitle {
  margin: 10px;
  padding: 10px;
  width: 100%;
  border-top: 1px solid #a7a4a4;
  border-bottom: 1px solid #a7a4a4;
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
  color: #222;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}

.sidebarItem > img {
  margin-top: 15px;
}

.sidebarItem > p {
  padding: 10px;
}

.sidebarList {
  list-style: none;
  margin-bottom: 20px;
}

.sidebarListItem {
  display: inline-block;
  width: 100%;
  margin-top: 15px;
  cursor: pointer;
}

.sidebarSocial {
  margin-top: 15px;
}
.sidebarIconsDesc {
  font-family: Arial, Helvetica, sans-serif
  font-size: 24px;
  cursor: pointer;
}
h3 {
  font-family: "Cormorant SC", sans-serif;
}

.alignIcons {
  display: flex;
}

.alignIcons :hover {
  color: rgb(13, 158, 241);
}

.sidebarIcons {
  color: #424449;
  font-size: 40px;
  margin-right: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

