.sidebar {
  margin: 40px;
  background-color: #363636;;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  padding: 30px;
  height: 100%;
  position: sticky;
  top: 80px;
}

@media screen and (max-width: 992px) {
  .sidebar {
   position: relative;
   font-size: 16px;
  }
  .sidebarItem {
    
  }
}

.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebarItem2 {
  display: inline-block;
  margin-top: 20px;
}


.sidebarTitle {
  margin: 10px;
  padding: 10px;
  width: 100%;
  border-top: 1px solid #a7a4a4;
  border-bottom: 1px solid #a7a4a4;
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.sidebarItem > img {
  margin-top: 15px;
}

.sidebarItem > h4 {
  padding: 10px;
  margin-top: 20px;
  color: #FFFFFF;
}

.sidebarList {
  list-style: none;
  margin-bottom: 20px;
}

.sidebarListItem {
  display: inline-block;
  width: 100%;
  margin-top: 15px;
  cursor: pointer;
}

.sidebarSocial {
  margin-top: 15px;
}

.sidebarIconsDesc {
  font-family: 'Times New Roman', Times, serif;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
}


.alignIcons {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.alignIcons :hover {
  color: #CCA43B;
}

.sidebarIcons {
  color: #FFFFFF;
  font-size: 40px;
  margin-right: 15px;
  align-items: center;
  
}

