.portfolioSkillSetsWrapper {
    padding-top: 2.5rem/* 40px */;
    padding-bottom: 2.5rem/* 40px */;
}
.portfolioSkillSetsFirstDiv {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 24rem/* 384px */;
    padding-bottom: 24rem/* 384px */;
    margin-top: 5rem/* 80px */;
    margin-bottom: 5rem/* 80px */;
}

.portfolioSkillSetsFirstDiv 