.PortfolioHomeWrapper {
    width: 100%;
    height: 100%;
}

.PortfolioHeaderWrapper {

}

@media (min-width: 768px) {
    .PortfolioHeaderWrapper {
        padding-top: 1.25rem/* 20px */;
    }
}

@media (min-width: 1024px) {
    .lg\:pt-80 {
        padding-top: 20rem/* 320px */;
    }
}