/* projects */
.portfolioProjectsWrapper {
    margin-top: 5rem /* 80px */;
    margin-bottom: 5rem /* 80px */;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 9rem /* 144px */;
    padding-bottom: 9rem /* 144px */;
  }
  
  .portfolioTitles {
    color: #363636;
    background-color: transparent;
    font-size: 3.75rem/* 60px */;
      line-height: 1;
      font-weight: 700;
      text-align: center;
  
  }
  
  .portfolioProjectsFirstDiv {
    justify-content: center;
    align-items: center;
    gap: 2.5rem/* 40px */;
    margin-top: 4rem/* 64px */;
  }
  
  .portfolioSingleProjectDiv {
    margin: 2.5rem/* 40px */;
    color: #363636;
    font-size: 1.875rem/* 30px */;
      line-height: 2.25rem/* 36px */;
  }

  .portfolioSingleProjectDiv > h3 {
    margin-bottom: 12px;
  }

  .portfolioSingleProjectImgDiv {
    border-radius: 0.25rem/* 4px */;
    width: 24rem/* 384px */;
  }
  
  @media (min-width: 768px) {
    .portfolioProjectsFirstDiv {
        display: flex;
        flex-direction: row;
    }
  }
  
  @media (min-width: 640px) {
    .portfolioProjectsFirstDiv {
        flex-direction: column;
    }
  }
  