/* header */
@import "variable";

.header {
  width: 100%;
  height: 350px;
  z-index: 1;
  font-size: 30px;
  font-family: $primary-font;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to right bottom,
    #242f40,
    #363636,
    #cca43b,
    #e5e5e5,
    #ffffff
  );
}
@media screen and (max-width: 648px) {
  .header {
    height: 175px;
  }
}

.headerTitle {
  padding: 50px 50px;
  font-size: 80px;
  font-family: $primary-font;
}

@media screen and (max-width: 768px) {
  .headerTitle {
    padding: 50px 50px;
    font-size: 50px;
    font-family: $primary-font;
  }
}
