/* home */
.home {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #e5e5e5;
  margin-left: auto;
  margin-right: auto;
  max-width: 96rem;
}

.pageWrapper {
  background-color: #363636;
}

.center {
  width: 100%;
  margin: auto;
  max-width: 96rem;
}

/* search bar */
.searchBoxWrapper {
  background-color: #e5e5e5;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-top: 20px;
}

.searchBox {
  display: flex;
  flex: 1 1 0%;
  font-size: 24px;
  color: #242f40;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  height: 50px;
  padding: 2px 23px 2px 30px;
  background-color: #ffffff;
}

.searchBox:focus {
  background-color: #cca43b;
}

/*scrollbar*/
.topIconWrapper {
  position: flex;
  width: 40px;
  padding-right: 20px;
}

.topIcon {
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 30px;
  color: white;
}
.topIcon:hover {
  color: #363636;
}
.topIconGray {
  color: #363636;
}
.topIconGray:hover {
  color: #cca43b;
}

.footer {
  font-family: 'Cormorant SC', sans-serif;
  font-size: 18px;
  border-bottom: 1px solid #242f40;
  background-color: #e5e5e5;
  color: #242f40;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
  margin: 0;
}

/* Responsive */
@media (min-width: 768px) {
  .home {
    grid-template-columns: 2fr 1fr;
  }
}


@media (min-width: 1280px) {
  .topIcon {
    font-size: 40px;
  }
  .home {
    grid-template-columns: 1fr 2fr 1fr;
  }
}

