/* portfolio - skillsets */
@import "variable";

.portfolioSkillSetsWrapper {
  margin-bottom: 8rem;
}
.portfolioSkillSetsDiv {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.portfolioSkillSetsDiv h1 {
  padding-bottom: 2rem;
}

.portfolioSkillSetsIconsDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-left: 5rem /* 80px */;
  margin-right: 5rem /* 80px */;
  margin-top: 2.5rem /* 40px */;
  margin-bottom: 2.5rem /* 40px */;
  gap: 0.5rem /* 8px */;
}

.portfolioSkillSetsSingleIconDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.portfolioSkillSetsSingleIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e5e5e5;
  font-size: 50px;
}

.portfolioSkillSetsSingleText {
  font-size: 20px;
}

.portfolioSkillSetsSingleIcon:hover {
  color: $secondary-color;
}

@media (min-width: 768px) {
  .portfolioSkillSetsSingleIcon {
    width: 5rem /* 80px */;
    height: 5rem /* 80px */;
  }
  .portfolioSkillSetsWrapper {
    padding-top: 2.5rem;
  }
  .portfolioSkillSetsFirstDiv {
    margin-top: 5rem /* 80px */;
    margin-bottom: 5rem /* 80px */;
  }
}

@media (min-width: 648px) {
  .portfolioSkillSetsIconsDiv {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 968px) {
  .portfolioSkillSetsIconsDiv {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
