/* projects */
.portfolioProjectsWrapper {
  min-height: 100vh;
  padding: 5rem 0 5rem 0;
    margin: 5rem 1rem 5rem 1rem;
    color: #363636;
}

.portfolioTitles {
  color: #363636;
  background-color: transparent;
  font-size: 3rem /* 60px */;
  line-height: 1;
  font-weight: 700;
  text-align: center;
}

.portfolioProjectDiv {
  font-size: 1.875rem ;
  line-height: 2.25rem ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfoProjectGrid {
  display: grid;
    grid-template-rows: repeat(4, minmax(0, 1fr));
    gap: 24rem;

}

.projectItemGrid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}


.portfolioProjectTitle {
  margin-bottom: 8px;
  
}

.portfoProjectImgAlign {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  padding-left: 20px;
}

.portfolioProjectImgDiv {
  border-radius: 0.25rem /* 4px */;
  width: 35rem /* 384px */;
  height: 35rem /* 240px */;
  cursor: pointer;
  position: relative;
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    margin-bottom: 3rem;
  border: 6px solid #363636;
  border-radius: 0.5rem;
}

.portfolioSingleProjectImg {
  padding: 0.5rem /* 8px */;
  border-radius: 0.25rem /* 4px */;
  cursor: pointer;
}

.portfoProjectTextDiv {
  padding-right: 20px;
  padding-left: 20px;
  
}

.portfoProjectTextDiv p {
font-size: 22px;
font-weight: 600;
}

.portfoProjectTagsDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 10px;
}

.portfoProjectTags {
font-size: 18px;
}

.portfoProjectTags:hover {
  color: white;
}

.portfoProjectFunctionsDiv {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 10px;
  text-align: center;
}

.portfoProjectFunctions {
font-size: 18px;
}

.portfoProjectFunctions:hover {
  color: white;
}

@media (min-width: 1224px) {
  .projectItemGrid {
    margin-top: 6rem;
      grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .portfolioProjectsWrapper {
      margin-left: 3.5rem /* 56px */;
      margin-right: 3.5rem /* 56px */;
  }
  .portfoProjectGrid {
      width: 75%;
  }
  .portfoProjectTags {
    font-size: 20px;
    }
    .portfoProjectFunctions {
      font-size: 20px;
      }
      
}