/* projects */
.portfolioProjectsWrapper {
  margin-top: 3rem /* 80px */;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 7rem;
}

.portfolioTitles {
  color: #363636;
  background-color: transparent;
  font-size: 3rem /* 60px */;
  line-height: 1;
  font-weight: 700;
  text-align: center;
}

.portfolioProjectsDiv {
 display: grid;
 grid-template-columns: 1fr;
  gap: 2.5rem ;
  margin-top: 2rem;
}


.portfolioSingleProjectDiv {
  font-size: 1.875rem ;
  line-height: 2.25rem ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.portfolioSingleProjectDiv:hover {
  color: #e5e5e5;
  cursor: pointer;
  
}

.portfolioSingleProjectTitle {
  margin-bottom: 12px;
  
}

.portfolioSingleProjectImgDiv {
  border-radius: 0.25rem /* 4px */;
  width: 24rem /* 384px */;
  height: 15rem /* 240px */;
  cursor: pointer;
  position: relative;
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.portfolioSingleProjectImg {
  padding: 0.5rem /* 8px */;
  border-radius: 0.25rem /* 4px */;
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
}

@media (min-width: 648px) {
  .portfolioProjectsDiv {
grid-template-columns: 1fr 1fr;
  }

}

@media (min-width: 1420px)  {
  .portfolioProjectsDiv {
    grid-template-columns: 1fr 1fr 1fr;
      }
    
}
