.portfolioHomeWrapper {
  padding-top: 50px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.portfolioHeaderWrapper {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.portfolioHeaderAllTextDiv {
  display: flex;
  flex-direction: column;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  padding-bottom: 50px;
}

.portfolioHeaderTitle h1 {
  text-align: center;
  font-size: 3rem /* 48px */;
  line-height: 1;
  margin: 15rem 0 1rem 0;
}

.portfolioHeaderTitle h2 {
  text-align: center;
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
  margin: 0 0 1rem 0;
}

.portfolioTitleIcons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolioHeaderDesc {
  margin-left: 3rem;
  margin-right: 3rem;
}
.portfolioHeaderDesc p {
  color: #363636;
  text-align: left;
  font-weight: 400;
  font-size: 0.5rem;
  line-height: 1.5rem;
  font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  flex-wrap: wrap;
}

.portfolioHeaderContactBtnDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolioHeaderContactBtn {
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: 500;
  color: #ffffff;
  margin-top: 1.25rem /* 20px */;
  background-color: #363636;
  border-radius: 0.375rem /* 6px */;
  width: 13rem /* 240px */;
  height: 4rem; /* 64px */
  font-size: 1.5rem;
  margin-bottom: 5rem /* 80px */;
  cursor: pointer;
  justify-content: center;
}

.portfolioHeaderContactBtn:hover {
  background-color: #e5e5e5;
  color: #363636;
}

@media (max-width: 640px) {
  .portfolioHeaderAllTextDiv {
    margin: 0px;
  }
  .portfolioHeaderDesc {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .portfolioHomeWrapper {
    padding-top: 100px;
  }
  .portfolioHeaderTitle {
    font-size: 4rem;
  }
  .portfolioHeaderDesc {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .portfolioHeaderWrapper {
    padding: 50px;
  }
  .portfolioHeaderImageDiv {
    display: block;
  }
  .portfolioHeaderImage {
    display: block;
  }
  .portfolioHeaderContactBtn {
    margin-top: 2.5rem /* 40px */;
  }
}

@media (min-width: 1024px) {
  .portfolioHeaderReactiveWrapper {
    padding-top: 10rem /* 320px */;
  }
}
