.portfolioSkillSetsFirstDiv {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.portfolioSkillSetsIconsDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-left: 5rem /* 80px */;
  margin-right: 5rem /* 80px */;
  margin-top: 2.5rem /* 40px */;
  margin-bottom: 2.5rem /* 40px */;
  gap: 0.5rem /* 8px */;
}

.portfolioSkillSetsFirstDiv {
  margin: 0;
  padding-top: 150px;
  padding-bottom: 0px;
}

.portfolioSkillSetsSingleIconDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.portfolioSkillSetsSingleIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e5e5e5;
  font-size: 50px;
}

.portfolioSkillSetsSingleText {
  font-size: 20px;
}

.portfolioSkillSetsSingleIcon:hover {
  color: #363636;
}

@media (min-width: 768px) {
  .portfolioSkillSetsIconsDiv {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .portfolioSkillSetsSingleIcon {
    width: 5rem /* 80px */;
    height: 5rem /* 80px */;
  }
  .portfolioSkillSetsWrapper {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem ;
  }
  .portfolioSkillSetsFirstDiv{
    margin-top: 5rem /* 80px */;
  margin-bottom: 5rem /* 80px */;
  }
}

@media (min-width: 648px) {
  .portfolioSkillSetsIconsDiv {
    grid-template-columns: 1fr 1fr 1fr;
  }
}