/* post layout */
@import "variable";

.post {
  display: flex;
  justify-content: flex-start;
  padding: 20px 30px;
}

@media screen and (max-width: 992px) {
  .post {
    display: flex;
  }
}

.postsDiv {
  width: 100%;
}

.postCat {
  font-family: $primary-font;
  font-size: 11px;
  color: #be9656;
  line-height: 20px;
  cursor: pointer;
}

.postCats {
  margin-top: 20px;
}

.postTitle {
  font-family: $primary-font;
  font-size: 30px;
  font-weight: 700;
  margin-top: 15px;
  cursor: pointer;
}

.postDate {
  font-family: $primary-font;
  font-style: italic;
  font-size: 20px;
  color: $secondary-color;
  margin: 15px 0px;
  display: flex;
  justify-content: space-between;
}

.postDesc {
  font-family: $primary-font;
  font-size: 16px;
  color: $secondary-color;
  line-height: 24px;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
