/* project */
@import "variable";

.projects {
  display: grid;
  background-color: #e5e5e5;
  margin-left: auto;
  margin-right: auto;
  max-width: 90rem;
}

.projectWrapper {
  background-color: #e5e5e5;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 24px;
  height: 100%;
  display: flex;
  max-width: 90rem;
}

.projectLinkDiv {
  padding: 1.5rem /* 24px */;
  cursor: pointer;
  border-radius: 0.75rem /* 12px */;
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  width: auto;
  max-width: 26rem;
  min-width: 18rem;
  &:hover {
    color: $primary-color;
    --tw-bg-opacity: 1;
    background-color: rgba(54, 54, 54, var(--tw-bg-opacity));
    --tw-translate-y: -0.25rem /* -4px */;
    transform: var(--tw-transform);
    --tw-scale-x: 1.1;
    --tw-scale-y: 1.1;
  }
}

.projectflex {
  display: grid;
  grid-template-columns: 1fr;
  padding: 24px;
  gap: 24px;
}

.projectImgWrapper {
  object-fit: cover;
  object-position: center;
  width: 100%;
  margin-bottom: 2rem /* 32px */;
  border-radius: 0.75rem /* 12px */;
}

.projectImg {
  object-fit: cover;
  object-position: center;
  margin-bottom: 5rem;
  border-radius: 0.75rem;
}

.projectHeading {
  font-family: $primary-font;
  margin: 0 auto 2.5rem auto;
  height: 1rem /* 80px */;
  font-size: 1.25rem /* 24px */;
  line-height: 1.5rem /* 32px */;
  font-weight: 600;
  letter-spacing: -0.05em;
}

.projectSubHeading {
  font-size: 20px;
  font-weight: 500;
  font-family: $secondary-font;
}

.projectDescription {
  font-family: $secondary-font;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  font-size: 1.1rem /* 18px */;
  line-height: 2;
  max-height: 16rem;
}

.frameworkItems {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .projects {
    grid-template-columns: 9fr 1fr;
  }
  .projectflex {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1280px) {
  .projects {
    grid-template-columns: 9fr 1fr;
  }
  .projectflex {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
