.sidebar {
  margin: 24px;
  background-color: #363636;
  border-radius: 10px;
  grid-template-columns: 1fr;
  padding: 30px;
  max-height: calc(100vh - 200px);
  position: sticky;
  top: 4rem;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .sidebar {
    display: grid;
  }
  .sidebarItem {
    font-size: 16px;
  }
}

.profileImg {
  padding-top: 20px;
  width: 200px;
}

.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.sidebarItem2 {
  display: inline-block;
}

.sidebarTitle {
  margin: 10px;
  padding: 10px;
  width: 100%;
  border-top: 1px solid #a7a4a4;
  border-bottom: 1px solid #a7a4a4;
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.sidebarItem > img {
  margin-top: 15px;
}

.sidebarItem > p {
  padding: 10px;
  margin-top: 20px;
  color: #ffffff;
}

.sidebarSocial {
  margin-top: 15px;
  color: #cca43b;
}

.alignIcons {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #e5e5e5;
  padding: 10px;
}

.alignIcons:hover {
  cursor: pointer;
  border-radius: 50px;
  background-color: #cca43b;
  color: #363636;
  --tw-scale-x: 1.25;
  --tw-scale-y: 1.25;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
